Application {
   color: #000000;
   font-family : Verdana;
   background-gradient-colors : #0066cc, #000000;/*#5c5c5c, #000000;*/
}
ApplicationControlBar {
   cornerRadius: 0;
   dropShadowEnabled: false;
 
   borderThickness: 5;
   highlightAlphas: 0.28, 0.14;
   fillAlphas: 0.36, 0.36; 
   fillColors: #ffffff, #000000;
   backgroundAlpha: 0.8;
   borderColor: #666666;
   padding-top : 0;
}
Button {
    cornerRadius: 0;
}

TabNavigator { 
   tabHeight: 25;
   cornerRadius: 0;
   horizontalGap: 1;
   horizontalAlign: left;
   paddingLeft: 0;
   paddingRight: 0;
   textAlign: left;
   backgroundColor: #dddddd;
   backgroundAlpha: 0;
   tabStyleName: "tabTransparente";
   
   borderStyle: solid;
   borderColor: #666666;
   borderThickness: 1;
}

.tabTransparente {
   cornerRadius: 3;
   highlightAlphas: 1, 0;
   fillAlphas: 1, 0.65;
   backgroundAlpha: 1;
   
   
   highlightAlphas: 0.2, 0.2;
   fillAlphas: 0.4, 0.4;
   fillColors: #ffffff, #666666;
   backgroundAlpha: 0.6;
   borderColor: #666666;
   borderStyle: none;
}
.tabOpaca {
   cornerRadius: 0;
   highlightAlphas: 0.29, 0.16;
   fillAlphas: 1, 1;
   backgroundAlpha: 1;
}

.itemMenuLateral {
    height : 15;
    textAlign : left;
    paddingBottom : 0 ;
    paddingTop : 0;
}

.textoOpcoesUsuario {
    color : #FFFFFF;
}

.botaoHeader{
   height : 12;
   cornerRadius: 0;
   textIndent: 0;
   paddingLeft: 0;
   paddingRight: 0;
   paddingTop: 0;
   paddingBottom: 0;
   highlightAlphas: 0.53, 0.23;
   color: #ffffff;
   textRollOverColor: #666666;
   textSelectedColor: #cccccc;
   borderColor: #cccccc;
   themeColor: #666666;
   horizontal-gap : 0 ;
}

.blocoFormPanel { 
   cornerRadius: 3;
   headerHeight: 25;
   borderThickness: 0;
   dropShadowEnabled: false;
   roundedBottomCorners: false;
   textAlign: left;
   backgroundAlpha: 0.08;
   borderAlpha: 0.08;
   highlightAlphas: 0.43, 0;
   backgroundColor: #000000;
   borderColor: #b7babc;
} 


Panel {
   borderThickness: 19;
   dropShadowEnabled: true;
   borderAlpha: 0.1;
   borderThicknessLeft: 10;
   highlightAlphas: 0.2, 0.2;
   headerColors: #ffffff, #000000;
}

.formCrud {
	color: #000000
}

/* Estilo Telas CRUD */
.painelContainerCRUD{
   borderColor: #cccccc;
   borderAlpha: 1;
   borderThickness: 0;
   borderThicknessLeft: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 0;
   cornerRadius: 0;
   headerHeight: 25;
   backgroundAlpha: 1;
   highlightAlphas: 0.85, 0.1;
   headerColors: #999999, #ffffff;
   color: #000000;
}
.painelFormCRUD{
   borderAlpha: 0;
   borderThicknessLeft: 5;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 5;
   cornerRadius: 0;
   headerHeight: 0;
   backgroundAlpha: 1;
   highlightAlphas: 0, 0;
}

/* Administração */
.menuLateralAdmin {
   borderAlpha: 0.2;
   borderThicknessLeft: 5;
   borderThicknessTop: 5;
   borderThicknessBottom: 5;
   borderThicknessRight: 5;
   cornerRadius: 0;
   headerHeight: 2;
   backgroundAlpha: 1;
   highlightAlphas: 0, 0;
}